<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <% if (people && people.length) {
        people.forEach(function(person){ %>
    <ul>
        <li><%= person.name %>-<%= person.age %></li>
    </ul>
    <% }); }%>
</body>

</html>